<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width">
        <title>Home</title>
    </head>
    <body>
        <h1>The Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus ullam dolor impedit exercitationem corporis ab? Soluta optio, expedita, iste sunt officia et perferendis molestias adipisci, ad deleniti eos in.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates optio dolorum aspernatur suscipit voluptate. Maiores modi itaque provident id iste nostrum sequi consequuntur voluptas vitae molestias nesciunt eum, sed qui!</p>
    </body>
</html>